@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicR.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'TTLaundryGothicB', 'NanumSquare';
    font-size: 20px;
}

.text_input{
    position: relative;
    left: 30px;
    width: 500px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}

.search_input{
    position: relative;
    left: 30px;
    width: 500px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}

.color_buttons{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


.color_button{
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
}

.input_button{
    position: relative;
    left: 30px;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    background-color: #A2E1DB;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    width: 530px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.search_list{
    font-size: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
}
.modify_button {
    position: absolute;
    right: 730px;
}

.delete_button {
    position: absolute;
    right: 700px;
}