@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicR.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'TTLaundryGothicB', 'NanumSquare';
    font-size: 20px;
}
.text_input{
    position: relative;
    left: 30px;
    width: 500px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}

.search_input{
    position: relative;
    left: 30px;
    width: 500px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}

.color_buttons{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}


.color_button{
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
}

.input_button{
    position: relative;
    left: 30px;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    background-color: #A2E1DB;
    cursor: pointer;
}


.list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    width: 550px;
    height: 6vh;
    overflow: hidden; 
    text-align: center;
}
.list p,
.list input{
    flex-grow: 3;
}

.list .modify_button,
.list .delete_button {
      display: none;
 }
  
  
.list:hover .modify_button,
.list:hover .delete_button {
      display: flex;
      cursor: pointer;
 }
  

.search_list{
    font-size: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
}

.modernMode {
    display: flex;
    align-items: center;
    flex-grow: 3;    
}
.editMode{
    display: flex;
    align-items: center;
    flex-grow: 3;
    padding-left: 100px;
}

.editInput{
    display: flex;
    align-items: center;
    flex-grow: 3;
    border-radius: 50px;
    width: 300px;
    height: 30px;
}


.confirm_button{
    padding-left: 50px;
    display: flex;
    cursor: pointer;
}

.cancel_button{
    display: flex;
    cursor: pointer;
    padding-left: 10px;
}

.delete_button {
    padding-left: 10px;
}